body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

pre {
	overflow-y: auto;
	overflow-wrap: normal;
}

pre.error, div.error, p.error {
	border-color: red;
	color: red;
	overflow-y: visible;
	overflow-wrap: break-word;
}

.panel-default>.panel-heading.error {
	background-color: red;
	color: white;
}

.panel-title a, .home {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1.error, h2.error, h3.error, h4.error, h5.error {
	color: red;
}

.panel-default>.panel-heading {
	color: #FFF;
	background-color: #428bca;
	border-color: #428bca;
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.header {
	background: #fff
		url("https://www.paypalobjects.com/webstatic/developer/banners/Braintree_desktop_BG_2X.jpg")
		no-repeat top right;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #EEE;
}

.header a:link, .header a:visited, .header a:hover, .header a:active {
	text-decoration: none;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	min-height: 60px;
	padding-top: 15px;
}

.footer .footer-links, .footer .footer-links li {
	display: inline-block;
	padding: 5px 8px;
	font-size: 110%;
}

.footer a {
	text-decoration: none;
}

pre .string {
	color: #428bca;
}

pre .number {
	color: darkorange;
}

pre .boolean {
	color: blue;
}

pre .null {
	color: magenta;
}

pre .key {
	color: slategray;
	font-weight: bold;
}

pre .id {
	color: red;
}